<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog{% endblock %}</title>
    </head>
    <body>
    {% block body %}
            {% block content %}{% endblock %}
    {% endblock %}
    </body>
</html>