{% extends 'base.html.twig' %}

{% block title %}Blog - add a new post{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('home') }}">Back</a>
    <button type="submit">Submit post</button>
    {{ form_end(form) }}
{% endblock %}